<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link href="http://feeds.feedburner.com/trottercashion" rel="alternate" title="Trotter Cashion" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen">
</head>
<body>
  <div class="header">
    <h1><a href="/">Trotter Cashion</a></h1>
  </div>
  <div class="content">
    <p class="notice">
    I'm currently in the process of transferring my blog to github. Old posts
    will be transferred over soon.
    </p>

    {{ content }}
  </div>
  <div class="footer">
    <ul class="about">
      <li>Trotter Cashion</li>
      <li>Senior Developer at Hoopla</li>
      <li>cashion@gmail.com</li>
    </ul>
    <ul class="contact">
      <li><a href="http://github.com/trotter">github.com/trotter</a></li>
      <li><a href="http://twitter.com/cashion">twitter.com/cashion</a></li>
      <li><a href="http://speakerrate.com/trotter">speakerrate.com/trotter</a></li>
    </ul>
    <br class="clearing" />
  </div>



  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3670698-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
